body { font-family: Lucida Sans Unicode; margin: 0px 0px 0px 0px;}

.head { font-size: 28px; color: #FFFFFF; text-align: center;}

th { color: #FFFFFF; font-size: 14px;}

td { font-size: 14px; }

/*enroll.html*/

.ERTable { height: 40px; }

.TBCenter { text-align: center; }