body { font-family: Lucida Sans Unicode; margin: 0px 0px 0px 0px;}

.head { font-size: 28px; color: #FFFFFF; text-align: center; background: #45a7d4;}

th { color: #FFFFFF; font-size: 14px;}

td { font-size: 14px; }

.HTable { height: 50px; }

.TBCenter { text-align: center; }

/*enroll.html*/

.HERTable { height: 40px; }

/*timetable.html*/

.TTth { font-size: 12px; background: #45a7d4;}

.TTTable { height: 50px; }